* {
    box-sizing: border-box;
}

html, body {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

nav li {
    display: inline-block;
    margin: 0.5%;
}

.split-container {
    height: 100%;
    min-width: 100%;
}

.split-container-left-about {
    position: -webkit-sticky;
    position: sticky;
    width: 45%;
    height: 100vh;
    display: inline; 
    float: left;  
    background-color: #F7484E;
}

.split-container-right-about {
    overflow: auto;
    overflow-x: hidden; 
    overflow-y: auto;
    position: relative;
    padding-top: 4%;
    padding-left: 7%;
    padding-right: 6%;
    padding-bottom: 4%;
    width: 55%;
    height: 100vh;
    text-align: left;
    display: inline; 
    float: left; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.split-container-right-about::-webkit-scrollbar {
    display: none;
}

.author-text-about {
    margin-top: 50%;
    margin-bottom: 0px;
    font-size: 4rem;
    text-align: center;
    line-height: 2;
    font-family: 'Sacramento';
    color: #ffffff;
}

.nav-text-about {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    line-height: 2;
    font-family: 'Lato';
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.nav-text-about:hover {
    color: #f07479;
    text-decoration: underline;
}

.h3-about-text {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.05rem;
    font-weight: bold;
    color: #000000;
}

.h4-about-text {
    font-family: 'Montserrat', serif;
    font-weight: normal;
    color: #222121;
}

/* responsive changes */
@media screen and (max-width: 992px) {
    .author-text {
        font-size: 2.5rem;
    }
    .nav-text {
        font-size: 0.7rem;
    }
    .slide-text1, .slide-text2, .slide-text3, .slide-text4 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .avatar {
        margin-top: 20%;
        max-width: 20%;
    }
    .author-text {
        font-size: 2.5rem;
    }
    .split-container-left {
        width: 100%;
    }
    .split-container-right {
        width: 100%;
    }
}











  
