* {
    box-sizing: border-box;
}

html, body {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

nav li {
    display: inline-block;
    margin: 0.5%;
}

.split-container {
    height: 100%;
    min-width: 100%;
}

.split-container-left-contact {
    overflow: auto;
    overflow-x: hidden; 
    overflow-y: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    width: 45%;
    height: 100vh;
    display: inline; 
    float: left;  
    background-color: #bee7d1;
}
.split-container-left-contact::-webkit-scrollbar {
    display: none;
}

.split-container-right-contact {
    overflow: auto;
    overflow-x: hidden; 
    overflow-y: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    position: relative;
    padding-top: 4%;
    padding-left: 7%;
    padding-right: 6%;
    padding-bottom: 4%;
    width: 55%;
    height: 100vh;
    text-align: left;
    display: inline; 
    float: left; 
}
.split-container-right-contact::-webkit-scrollbar {
    display: none;
}

.author-text-contact {
    margin-top: 50%;
    margin-bottom: 0px;
    font-size: 4rem;
    text-align: center;
    line-height: 2;
    font-family: 'Sacramento';
    color: #ffffff;
}

.nav-text-contact {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    line-height: 2;
    font-family: 'Lato';
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.nav-text-contact:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* responsive changes */
@media screen and (max-width: 990px) {
    .author-text-contact {
        margin-top: 30%;
        font-size: 2.5rem;
    }
    .nav-text-contact {
        font-size: 0.7rem;
    }
    .split-container-left-contact {
        width: 100%;
    }
    .split-container-right-contact {
        width: 100%;
    }
}

@media screen and (max-height: 480px) {
    .author-text-contact {
        margin-top: 10%;
    }
    .split-container-left-contact {
        width: 100%;
    }
    .split-container-right-contact {
        width: 100%;
    }
}











  
