* {
    box-sizing: border-box;
}

html, body {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

nav li {
    display: inline-block;
    margin: 0.5%;
}

.split-container {
    height: 100vh;
    min-width: 100%;
}

.split-container-left-home {
    width: 30%;
    height: 100vh;
    display: inline; 
    float: left;  
}

.split-container-right-home {
    width: 70%;
    height: 100vh;
    display: inline; 
    float: right;  
}

.avatar {
    margin-top: 30%;
    border-radius: 50%;
    max-width: 50%;
    color: #545454;
    border-style: solid;
    border-width: thin;
}

.author-text-home {
    margin-top: 10%;
    margin-bottom: 0px;
    font-size: 2.9rem;
    line-height: 2;
    font-family: 'Sacramento';
    font-weight: 300;
    color: #545454;
}

.nav-text-home {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.75rem;
    line-height: 2;
    font-family: 'Lato';
    font-weight: 300;
    color: #545454;
    text-decoration: none;
}

.nav-text-home:hover {
    color: #545454;
    text-decoration: underline;
}

.each-slide {
    height: 100%;
}

.slide-text1 {
    margin-top: 20%;
    margin-left: 17%;
    font-size: 2rem;
    font-family: 'Cormorant';
    color: #ffffff;
}

.slide-text2 {
    margin-right: 20%;
    font-size: 2rem;
    font-family: 'Cormorant';
    color: #ffffff;
}

.slide-text3 {
    margin-right: 35%;
    margin-bottom: 15%;
    font-size: 2rem;
    font-family: 'Cormorant';
    color: #ffffff;
}

.slide-text4 {
    margin-left: 5%;
    margin-bottom: 25%;
    font-size: 2rem;
    font-family: 'Cormorant';
    color: #ffffff;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
}

.slide-1-background {
    background-image: url("../assets/images/home1.jpg");
}

.slide-2-background {
    background-image: url("../assets/images/home2.jpg");
}

.slide-3-background {
    background-image: url("../assets/images/home3.jpg");
}

.slide-4-background {
    background-image: url("../assets/images/home4.jpg");
}

/* responsive changes */
@media screen and (max-width: 992px) {
    .avatar {
        margin-top: 50%;
    }
    .author-text-home {
        font-size: 2.5rem;
    }
    .nav-text-home {
        font-size: 0.7rem;
    }
    .slide-text1, .slide-text2, .slide-text3, .slide-text4 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .avatar {
        margin-top: 30%;
        max-width: 30%;
    }
    .author-text-home {
        margin-top: 5%;
        font-size: 2.5rem;
    }
    .split-container-left-home {
        width: 100%;
    }
    .split-container-right-home {
        width: 100%;
    }
    .slide-4-background {
        background-image: url("../assets/images/note.jpg");
    }
}

@media screen and (max-height: 480px) {
    .avatar {
        margin-top: 20%;
        max-width: 40%;
    }
    .author-text-home {
        margin-top: 5%;
        font-size: 2.0rem;
    }
    .nav-text-home {
        font-size: 0.6rem;
    }
    .slide-text1, .slide-text2, .slide-text3, .slide-text4 {
        font-size: 1.4rem;
    }
}

@media screen and (max-height: 350px) {
    .split-container-left-home {
        width: 100%;
        height: 100vh;
        display: inline; 
        float: left;  
    }
    .split-container-right-home {
        width: 0%;
        height: 0%;
    }
    .avatar {
        margin-top: 10%;
        max-width: 20%;
    }
    .author-text-home {
        margin-top: 5%;
        font-size: 2.5rem;
    }
    .nav-text-home {
        font-size: 0.8rem;
    }
}












  
