* {
    box-sizing: border-box;
}

html, body {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

nav li {
    display: inline-block;
    margin: 0.5%;
}

.split-container {
    height: 100%;
    min-width: 100%;
}

.split-container-left-project {
    position: -webkit-sticky;
    position: sticky;
    width: 45%;
    height: 100vh;
    display: inline; 
    float: left;  
    background-color: #ffcc4d;
}

.split-container-right-project {
    overflow: auto;
    overflow-x: hidden; 
    overflow-y: auto;
    position: relative;
    width: 55%;
    height: 100vh;
    text-align: left;
    display: inline; 
    float: left; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.split-container-right-project::-webkit-scrollbar {
    display: none;
}

.author-text-project {
    margin-top: 50%;
    margin-bottom: 0px;
    font-size: 4rem;
    text-align: center;
    line-height: 2;
    font-family: 'Sacramento';
    color: #ffffff;
}

.nav-text-project {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    line-height: 2;
    font-family: 'Lato';
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.nav-text-project:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* responsive changes */
@media screen and (max-width: 992px) {
    .author-text-project {
        font-size: 2.5rem;
    }
    .nav-text-project {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    .author-text-project {
        margin-top: 30%;
        font-size: 2.5rem;
    }
    .split-container-left-project {
        width: 100%;
    }
    .split-container-right-project {
        width: 100%;
    }
}

.mini-row-container {
    height: 55%;
    width: 100%;
    background-size: 100% 100%;
}
.mini-row-container:hover .fade1 {
    height: 55%;
}
.mini-row-container:hover .overlay {
    opacity: 0.8;
}

.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background: #eee;
}
.fade1 {
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: #1f1f1f;
}

.overlay-text {
    color: white;
    font-size: 2rem;
    padding-top: 7%;
    padding-left: 6%;
    padding-right: 4%;
    text-align: center;
    font-family: 'Sacramento', cursive;
}
.overlay-text2 {
    color: white;
    font-size: 1rem;
    padding-left: 6%;
    padding-right: 4%;
    text-align: center;
    font-family: 'Montserrat';
}
.overlay-text3 {
    color: white;
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 4%;
    font-size: 1rem;
    font-family: 'Montserrat';
}
.overlay-button {
    color: #fff;
    text-decoration: none;
    background: none;
    position: absolute;
    top: 45%;
    right: 0;
    padding: 0;
    border: none;
    font-size: 1.5rem;
    line-height: 2;
    font-family: "Montserrat";
    cursor: pointer;
    margin: 10px; 
    transition: 0.8s;
}
.overlay-button:hover {
    color: #ffcc4d;
    text-decoration: underline;
}