* {
    box-sizing: border-box;
}

html, body {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

nav li {
    display: inline-block;
    margin: 0.5%;
}

.split-container {
    height: 100vh;
    min-width: 100%;
}

.split-container-left-home {
    overflow: auto;
    overflow-x: hidden; 
    overflow-y: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    width: 30%;
    height: 100vh;
    display: inline; 
    float: left;  
}
.split-container-left-home::-webkit-scrollbar {
    display: none;
}

.split-container-right-home {
    width: 70%;
    height: 100vh;
    display: inline; 
    float: right;  
}
.split-container-right-home::-webkit-scrollbar {
    display: none;
}

.avatar {
    margin-top: 30%;
    border-radius: 50%;
    max-width: 50%;
    color: #545454;
    border-style: solid;
    border-width: thin;
}

.author-text-home {
    margin-top: 10%;
    margin-bottom: 0px;
    font-size: 2.9rem;
    line-height: 2;
    font-family: 'Sacramento';
    font-weight: 300;
    color: #545454;
}

.nav-text-home {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.75rem;
    line-height: 2;
    font-family: 'Lato';
    font-weight: 300;
    color: #545454;
    text-decoration: none;
}
.nav-text-home:hover {
    color: #545454;
    text-decoration: underline;
}

.each-slide {
    height: 100%;
}
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
}

.slide-text1 {
    margin-top: 20%;
    margin-left: 17%;
    font-size: 2rem;
    font-family: 'Cormorant';
    color: #ffffff;
}

.slide-text2 {
    margin-right: 20%;
    font-size: 2rem;
    font-family: 'Cormorant';
    color: #ffffff;
}

.slide-text3 {
    margin-right: 35%;
    margin-bottom: 15%;
    font-size: 2rem;
    font-family: 'Cormorant';
    color: #ffffff;
}

.slide-text4 {
    margin-left: 5%;
    margin-bottom: 25%;
    font-size: 2rem;
    font-family: 'Cormorant';
    color: #ffffff;
}

.slide-1-background {
    background-image: url("../assets/images/home1.jpg");
}

.slide-2-background {
    background-image: url("../assets/images/home2.jpg");
}

.slide-3-background {
    background-image: url("../assets/images/home3.jpg");
}

.slide-4-background {
    background-image: url("../assets/images/home4.jpg");
}

/* responsive changes */
@media screen and (max-width: 990px) {
    .avatar {
        margin-top: 10%;
        max-width: 30%;
    }
    .author-text-home {
        margin-top: 2%;
        font-size: 2.5rem;
    }
    .nav-text-home {
        font-size: 0.7rem;
    }
    .split-container-left-home {
        width: 100%;
    }
    .split-container-right-home {
        width: 100%;
    }
    .slide-text1, .slide-text2, .slide-text3, .slide-text4 {
        font-size: 1.5rem;
    }
    .slide-2-background {
        background-image: url("../assets/images/home2-2.jpg");
    }
    .slide-text3 {
        margin-bottom: 50%;
        margin-right: 40%;
    }
    .slide-3-background {
        background-image: url("../assets/images/home3-2.jpg");
    }
    .slide-4-background {
        background-image: url("../assets/images/home4-2.jpg");
    }
}


@media screen and (max-height: 480px) {
    .author-text-home {
        margin-top: 2%;
        font-size: 3rem;
    }
    .nav-text-home {
        font-size: 0.8rem;
    }
    .split-container-left-home {
        width: 100%;
    }
    .split-container-right-home {
        width: 0%;
    }
}














  
